.App {
  height: 100%;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  display: none !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ui.header {
  color: var(--text-color-1);
}

.ui.divider {
  border-bottom: 2.5px solid var(--text-color-1) !important;
  background-color: var(--text-color-1) !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-stylish) !important;
}

h1 {
  font-size: 40px !important;
}

h1:hover {
  color: var(--color-theme-indigo-0) !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 28px !important;
}

h2,
h3,
h4,
h5 {
  padding-bottom: 5px !important;
  border-bottom: 5px solid var(--color-theme-indigo-0) !important;
  display: inline-block;
}
