@import url('https://fonts.googleapis.com/css?family=Cairo|Merriweather|Muli|Alegreya+Sans:400,400i&display=swap');

:root {
  --text-color-0: rgb(233, 233, 233);
  --text-color-1: rgb(213, 213, 213);
  --text-color-2: rgb(180, 180, 180);
  --text-color-3: rgb(160, 160, 160);

  --mainBoard-left-color: rgb(23, 23, 24);
  --mainBoard-mid-color: rgb(27, 27, 28);
  --mainBoard-right-color: rgb(23, 23, 24);
  --mainBoard-shade-color: rgb(19, 19, 20);

  --background-color-grey: rgb(45, 45, 45);

  --color-spotify-green: #1db954;
  --color-genius-yellow: #ffff64;
  --color-theme-indigo-0: #7986cb;
  --color-theme-indigo-1: #9fa8da;
  --color-theme-indigo-2: #c5cae9;
  --color-theme-indigo-3: #e8eaf6;

  --svg-filter-white: invert(100%) sepia(4%) saturate(339%) hue-rotate(210deg)
    brightness(113%) contrast(83%);
  --svg-filter-indigo: invert(64%) sepia(9%) saturate(2180%) hue-rotate(194deg)
    brightness(83%) contrast(90%);
  --font-serif: 'Merriweather', serif;
  --font-sansserif: 'Muli', sans-serif;
  --font-stylish: 'Cairo', sans-serif;
  --font-dynamic: 'Alegreya Sans', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--font-sansserif) !important;
  font-size: 18px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-0) !important;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
