@import url('https://fonts.googleapis.com/css?family=Merriweather|Titillium+Web&display=swap');

:root {
  --text-color-0: rgb(233, 233, 233);
  --text-color-1: rgb(213, 213, 213);
  --text-color-2: rgb(180, 180, 180);
  --text-color-3: rgb(160, 160, 160);
  --background-color-grey: rgb(45, 45, 45);
  --color-spotify-green: #1db954;
  --color-theme-indigo-0: #7986cb;
  --color-theme-indigo-1: #9fa8da;
  --color-theme-indigo-2: #c5cae9;
  --color-theme-indigo-3: #e8eaf6;
  --font-serif: 'Merriweather', serif;
  --font-sansserif: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: var(--font-sansserif) !important;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-0) !important;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
