/**
* SongInfoPanel.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-07-14 16:12:07
* @last-modified 2019-08-24 02:09:03
*/

.songInfoPanel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.songInfo-container {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.songInfo-topMenu {
  background: transparent !important;
}

.miniYoutube-wrapper {
  margin: 0px 0px 30px 0px;
}

.lyrics-search-result {
  color: var(--text-color-1);
  margin-bottom: 20px;
}

.songInfoPanel .ui.inverted.placeholder .line {
  background-color: var(--mainBoard-mid-color) !important;
}

.songInfoPanel .ui.inverted.placeholder .line:after {
  background-color: var(--mainBoard-mid-color) !important;
}

.songLyricsWidget a {
  font-family: var(--font-dynamic);
  font-size: 1.2em;
  color: var(--text-color-0) !important;
  padding-bottom: 0.5em !important;
}

.songLyricsWidget a:hover {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  color: var(--color-theme-indigo-0) !important;
}
