/**
* SongInfo.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-07-14 16:12:07
* @last-modified 2019-07-28 14:10:17
*/

.songInfo-panel {
  width: 100%;
}

.songInfo-container {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
}
