/**
* SongInfo.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-07-14 16:12:07
* @last-modified 2019-08-03 23:21:27
*/

.songInfo-panel {
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
}

.songInfo-container {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
}
