/**
* Toolbar.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-08-04 11:21:26
* @last-modified 2019-08-31 18:19:53
*/

.toolbar {
  z-index: 10;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0px -1px 16px 5px var(--mainBoard-shade-color);
  background-color: var(--color-theme-indigo-0);
}

.toolbar-logo {
  width: 1.5rem;
  margin-right: 0.5rem;
  -webkit-filter: var(--svg-filter-white);
  filter: var(--svg-filter-white);
}

.toolbar-appName {
  font-weight: bold;
}

.grid > .column > .menu {
  margin-left: auto !important;
  margin-right: auto !important;
}

.toolbar-left-menu > .item {
  color: var(--text-color-1);
  padding: 0 4px 0 4px !important;
  margin-left: 0.5rem;
}

.toolbar-mid-menu {
  width: 85%;
}

.toolbar-mid-menu > .item {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 2em;
}

.toolbar-mid-menu > .item > .icon {
  margin: 0 !important;
}

.toolbar-right-menu {
  width: 85%;
}

.toolbar-right-menu > .item {
  padding-left: 4px !important;
  padding-right: 4px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.inverted.menu {
  background: transparent;
  border-radius: 0;
  border: none;
  min-height: 2rem;
  height: 2.25rem;
  font-family: var(--font-stylish);
}

.ui.inverted.menu > .item {
  font-weight: bold;
  height: 75%;
  margin-top: auto;
  margin-bottom: auto;
}

.ui.inverted.menu .item:before {
  display: none;
}

.ui.inverted.menu .item:hover {
  background-color: var(--color-theme-indigo-1);
}
