/**
* CurrentSong.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-06-16 13:27:10
* @last-modified 2019-08-10 22:28:47
*/

.currentSong-panel {
  width: 100%;
  margin: 0px;
  padding-bottom: 30px;
}

.currentSong-widget {
  background: transparent !important;
}

.currentSong-container {
  padding: 0 !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

.currentSong-img {
}

.currentSong-img img {
  /* border-radius: 5px !important; */
}

.currentSong-text {
  font-size: 0.9em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.songName {
  font-family: var(--font-stylish);
  font-size: 30px;
  line-height: 2.5rem;
  padding-bottom: 10px;
}

.artistNames {
  font-family: var(--font-stylish);
  font-size: 24px;
  line-height: 2.5rem;
  color: var(--text-color-2);
}

.spotifySource {
  margin-top: 15px;
  margin-bottom: 5px;
}

.spotify-icon {
  font-size: 1.4em !important;
}

.spotify-icon:before {
  display: none;
}
