/**
* MainBoard.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-07-27 20:48:17
* @last-modified 2019-08-02 01:29:20
*/

.mainBoard {
  height: 100%;
}

.panel {
  padding: 0 0 0 0 !important;
}

.mainBoard-grid {
  height: 100%;
}

.mainBoard-left {
  background: rgb(30, 30, 30);
}

.mainBoard-mid {
  background: rgb(36, 36, 36);
}

.mainBoard-right {
  background: rgb(33, 33, 33);
}
