/**
* MainBoard.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-07-27 20:48:17
* @last-modified 2019-09-08 15:09:08
*/

.mainBoard {
  height: 100%;
  overflow: hidden;
}

.panel {
  padding: 0 0 0 0 !important;
}

.mainBoard-grid {
  padding-bottom: 2rem !important;
}

.mainBoard-left {
  z-index: 1;
  background: var(--mainBoard-left-color);
  box-shadow: 1px 0px 16px 8px var(--mainBoard-shade-color);
}

.mainBoard-mid {
  z-index: 0;
  background: var(--mainBoard-mid-color);
}

.mainBoard-right {
  z-index: 1;
  background: var(--mainBoard-right-color);
  box-shadow: -1px 0px 16px 8px var(--mainBoard-shade-color) !important;
}
