/**
* SongLyrics.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-08-02 00:50:08
* @last-modified 2019-08-11 02:09:46
*/

.songLyrics-widget {
  font-size: 1.2em;
  font-family: var(--font-stylish);
}

a {
  font-weight: normal;
  color: var(--text-color-0) !important;
  padding-bottom: 0.5em !important;
}

a:hover {
  /* font-size: 1.15em; */
  font-weight: bold;
  color: var(--color-theme-indigo-0) !important;
}
