/**
* SongLyrics.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-08-02 00:50:08
* @last-modified 2019-08-08 00:38:12
*/

.songLyrics-widget {
  font-size: 1.1em;
  font-family: var(--font-stylish);
}

a {
  font-weight: normal;
  color: var(--text-color-0) !important;
  padding-bottom: 0.5em !important;
}

a:hover {
  font-weight: bold;
  color: var(--color-theme-indigo-0) !important;
}
