/**
* TrackArtistsInfo.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-07-28 16:27:03
* @last-modified 2019-08-04 11:10:24
*/

.trackArtistsInfo-widget {
}

.ui.table {
  color: var(--text-color-1) !important;
  background-color: rgba(20, 20, 20, 0.1) !important;
}

.ui.table td {
  padding: 0.25em 0.5em 0.25em 0 !important;
  border: none !important;
  border-color: var(--color-theme-indigo-3) !important;
}

.category-label-0 {
  background-color: var(--color-theme-indigo-0) !important;
  border-color: var(--color-spotify-indigo-0) !important;
}

.category-label-1 {
  background-color: var(--color-theme-indigo-1) !important;
  border-color: var(--color-spotify-indigo-1) !important;
}

.name-cell {
  color: var(--color-theme-indigo-3);
}
