/**
* ArtistInfo.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-07-27 21:01:25
* @last-modified 2019-08-04 11:03:11
*/

.artistInfo-panel {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
}

.artistInfo-container {
  font-size: 1em;
  padding: 0 !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

.topImage-wrapper img {
  /* border-radius: 5px !important; */
}

.topImage {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 25px !important;
}

.socialMedia {
  margin-top: 0 !important;
  font-size: 1.4em;
}

.summary {
  font-size: 0.9em;
}

.ui.grid {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ui.grid > * {
  padding: 0 !important;
}
