/**
* Scrollbar.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-08-10 21:30:33
* @last-modified 2019-08-10 22:31:07
*/

.scrollbar {
  width: 100% !important;
  height: 100vh !important;
}

.ScrollbarsCustom-TrackY {
  background: transparent !important;
}

.ScrollbarsCustom-ThumbY {
  background-color: rgba(20, 20, 21, 0.75) !important;
}

.ScrollbarsCustom-ThumbY:active {
  background-color: var(--color-theme-indigo-0) !important;
}
